<div id="secondary" class="widget-area col-lg-4 col-md-4 col-sm-4 anbcnews-sidebar" style="float:right" role="complementary">
  <div class="anbcnews-blog-sidebar">
   
    <div  class="widget widget_categories anbcnews-post-meta">
      <h3 class="tradingnews">ट्रेंडिंग न्यूज़</h3>
       
        <div *ngIf="(lstTradingNews.length>0)"   class="row anbcnews-layout-c-row">
          <div *ngFor="let item of lstTradingNews" class="col-md-12 col-sm-12 col-xs-12">
            <div class="anbcnews-blog-post-layout-c">
              <div class="anbcnews-image">
                <a [routerLink]="['/news/story/',item.queryParam]">
                  <img  src="{{item.imagePath}}" class="attachment-anbcnews-recent-post-big size-anbcnews-recent-post-big wp-post-image" alt="">
                </a>
              </div>
              <div class="anbcnews-title">
                <h4>
                  <a [routerLink]="['/news/story/',item.queryParam]">{{item.headline}}</a>
                </h4>
              </div>
              <span class="anbcnews-category">
                <a [routerLink]="['/news/',item.typeUrl]">{{item.newsType}}</a>
              </span>
              <span class="anbcnews-date">{{item.strPublishedDate}}</span>
              <div class="anbcnews-content">
                {{item.subcontent}}
              </div>
            </div>
            <br />
          </div>
        </div>

       
    </div>
  </div>
</div>
