<div class="row">
  <div id="primary" class="content-area col-md-8 col-sm-8 col-xs-12 anbcnews-sidebar">
    <h2>{{newsDetail.headline}}</h2>
    <div class="anbcnews-post-meta">
      <span class="anbcnews-category">
        <a href="#"> {{newsDetail.newsType}}</a>
      </span>
      <span class="anbcnews-date">{{newsDetail.strPublishedDate}}</span>
    </div><br />
    <div *ngIf="newsDetail.imagePath!=''" class="anbcnews-image">
      <img width="700" src="{{newsDetail.imagePath}}" alt="">
    </div>
    <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-events">
      <div class="entry-content">
        {{newsDetail.mainContent}}
      </div>
    </article>
  </div>
  <aside id="secondary" class="widget-area col-lg-4 col-md-4 col-sm-4 anbcnews-sidebar" role="complementary">
    <div class="anbcnews-blog-sidebar">
      <div id="search-4" class="widget widget_search">
        <form role="search" method="get" id="searchform" action="https://colorlib.com/anbcnews/">
          <label>
            <span class="screen-reader-text">Search for:</span>
            <input class="search-field" placeholder="Search..." value="" name="s" type="search">
          </label>
          <button class="search-submit" value="Search  " type="submit"><span class="fa fa-search"></span></button>
        </form>
      </div>
      <div id="calendar-3" class="widget widget_calendar">
        <div id="calendar_wrap" class="calendar_wrap">
          <table id="wp-calendar">
            <caption>May 2017</caption>
            <thead>
              <tr>
                <th scope="col" title="Monday">M</th>
                <th scope="col" title="Tuesday">T</th>
                <th scope="col" title="Wednesday">W</th>
                <th scope="col" title="Thursday">T</th>
                <th scope="col" title="Friday">F</th>
                <th scope="col" title="Saturday">S</th>
                <th scope="col" title="Sunday">S</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="3" id="prev" class="pad">&nbsp;</td>
                <td class="pad">&nbsp;</td>
                <td colspan="3" id="next" class="pad">&nbsp;</td>
              </tr>
            </tfoot>
            <tbody>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
              </tr>
              <tr>
                <td>8</td>
                <td>9</td>
                <td><a href="https://colorlib.com/anbcnews/2017/05/10/" aria-label="Posts published on May 10, 2017">10</a></td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
              </tr>
              <tr>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>19</td>
                <td>20</td>
                <td>21</td>
              </tr>
              <tr>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
              </tr>
              <tr>
                <td>29</td>
                <td>30</td>
                <td>31</td>
                <td class="pad" colspan="4">&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="categories-5" class="widget widget_categories">
        <h3>Categories</h3> <ul>
          <li class="cat-item cat-item-2">
            <a href="https://colorlib.com/anbcnews/category/editorial/">Editorial</a> <span class="anbcnews-cat-count">11</span>
          </li>
          <li class="cat-item cat-item-4">
            <a href="https://colorlib.com/anbcnews/category/events/">Events</a> <span class="anbcnews-cat-count">9</span>
          </li>
          <li class="cat-item cat-item-5">
            <a href="https://colorlib.com/anbcnews/category/news/">News</a> <span class="anbcnews-cat-count">3</span>
          </li>
          <li class="cat-item cat-item-3">
            <a href="https://colorlib.com/anbcnews/category/the-world/">The World</a> <span class="anbcnews-cat-count">7</span>
          </li>
        </ul>
      </div>
    </div>
  </aside>
</div>
