<div class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <section class="anbcnews-news-ticker">
          <span class="anbcnews-module-title">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
            </span>
            Breaking News
          </span>
          <ul class="anbcnews-news-carousel marquee owl-carousel owl-theme">
            <li class="item" *ngFor="let item of lstBreakingNews">
              <a [routerLink]="['/news/story/',item.queryParam]">{{item.headline}}  <span class="breaking_divder">|</span></a>
            </li>
          </ul>
        </section>
      </div>
      <div class="col-lg-4">
        <form id="searchform" (ngSubmit)="Search()" [formGroup]="serachForm">
          <label>
            <span class="screen-reader-text">Search for:</span>
            <input class="search-field" formControlName="keyword" placeholder="खोज..." value="" name="keyword" type="search">
          </label>
          <button class="search-submit" value="Search" type="submit"><span class="fa fa-search"></span></button>
        </form>
        <div class="top-header-icons">
          <div id="menu-social" class="menu pull-right">
            <ul id="menu-social-items" class="menu-items">
              <li><a href="https://www.facebook.com/ASIANEWSBROADCASTINGCOMPANY.IN/"><span class="screen-reader-text"> </span></a></li>
              <li><a href="https://twitter.com/ANBCofficial?s=09"><span class="screen-reader-text">Twitter</span></a></li>
              <!--<li><a href="https://plus.google.com"><span class="screen-reader-text">Google +</span></a></li>
              <li><a href="https://youtube.com"><span class="screen-reader-text">Youtube</span></a></li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="container example2">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://disputebills.com">
          <img src="https://res.cloudinary.com/candidbusiness/image/upload/v1455406304/dispute-bills-chicago.png" alt="Dispute Bills">
        </a>
      </div>
      <div id="navbar2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div> 
    </div> 
  </nav>
</div>-->
<header id="masthead" class="site-header" role="banner">
  <div class="site-branding container">
    <div class="row">
      <div class="col-md-4 header-logo">
        <a [routerLink]="'/'" rel="home">
          <img width="280" src="/assets/images/logo.png" class="custom-logo" alt="anbcnews X">
        </a>
      </div>
      <div class="col-md-8 header-banner">
      </div>
    </div>
  </div><!-- .site-branding -->
  <nav id="site-navigation" class="main-navigation" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button class="menu-toggle"  data-toggle="collapse" data-target="#primary-menu" >
            <span class="fa fa-bars"></span>
          </button>

          <div class="menu-all-pages-container">
            <ul id="primary-menu" class="menu nav-menu" >
              <li>
                <a [routerLink]="['/news']">न्यूज़</a>
              </li>
              <li>
                <a [routerLink]="['/news/elections']">चुनाव</a>
              </li>
              <li>
                <a [routerLink]="['/news/sports']">खेल </a>
              </li>
              <li>
                <a [routerLink]="['/news/entertainment']">मनोरंजन </a>
              </li>
              <li>
                <a [routerLink]="['/news/viral']">वायरल केंद्र </a>
              </li>
              <li>
                <a [routerLink]="['/news/crime']">क्राइम </a>
              </li>
              <li>
                <a [routerLink]="['/news/videos']">वीडियो </a>
              </li>
              <li>
                <a [routerLink]="['/about']">About Us</a>
              </li>
              <li>
                <a [routerLink]="['/contact']">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav><!-- #site-navigation -->
</header><!-- #masthead -->
