 
<div class="anbcnews-header-widget-area">
  <div id="anbc_news_header_module-2" class="widget anbc_news_widgets">
    <div class="anbcnews-recent-posts container">
      <ul>
        <li *ngFor="let item of lstSliderNews let i=index" class="blazy b-loaded" id="anbcnews-recent-post-{{i}}"  [ngStyle]="{'background-image':'url('+item.imagePath+')'}"  >
          <div class="anbcnews-post-info">
            <h1 *ngIf="i==0">  <a [routerLink]="['/news/story/',item.queryParam]"> {{item.headline}}</a> </h1>
            <h4 *ngIf="i!=0"> <a [routerLink]="['/news/story/',item.queryParam]">{{item.headline}}</a> </h4>
            <span class="anbcnews-category">
              <a href="#"> {{item.newsType}}</a>
            </span>
            <span class="anbcnews-date">{{item.strPublishedDate}}</span>
          </div>
        </li> 
      </ul>
    </div>
  </div>
</div>
