<div class="row">
  <h1 class="entry-title">Contact Us</h1>
  <div class="col-md-6 col-xs-6">
    <form id="formid" (ngSubmit)="SavContact()" [formGroup]="contactForm">
      <span>{{DBResponce.message}}</span> 
      <div class="row">
        <label for="name">Name</label>
        <input name="name" formControlName="Name" type="text" placeholder="Name*" value="" size="30" aria-required="true" class="form-control">
        <label for="name">Email Address</label>
        <input formControlName="Email" name="email" type="text" placeholder="Email*" value="" size="30" aria-required="true" class="form-control">
        <label for="name">Your Message</label>
        <textarea name="message" rows="8" formControlName="Message" required aria-required="true" class="form-control"></textarea>
       
          <input type="submit" [disabled]="!contactForm.valid" value="Send the message" >
        
      </div>
     
    </form>
  </div>
  <div class="col-md-6 col-xs-6">
    <p class="text" align="justify">
      Ace aspire<br>
      Noida extension, 201305<br>
      ANBC से जुड़ने के लिए <a href="mailto:asianewsbroadcastingcompany@gmail.com" class="lniks">asianewsbroadcastingcompany@gmail.com</a> पर cv सेंड करें।,

    </p>
  </div>
</div>






