<div class="row">
  <h1 class="entry-title">About Us</h1>
  <div class="entry-content">
    <p>
      Anbc (एशिया न्यूज़ ब्राडकास्टिंग कंपनी) पर आपका स्वागत है।<br />
      दरअसल एएनबीसी को आपके समक्ष प्रस्तुत करने का पहला कारण ये है कि हमारी टीम ये मानती है कि खबरों की दुनिया में तथ्यों के प्रति पारदर्शिता में लगातार कमी आई है, जो समाज और देश-दुनिया के लिए बेहद खतरनाक है। इसलिए हमारी टीम जो ज्यादा नहीं लेकिन 10-12 सालों से पत्रकारिता सीख रही है वह इसे सत्य के नवीनतम प्रयोग के साथ लेकर आ रही है।
      हम वेबसाइट पर खबरों के अलावा यूट्यूब पर भी हैं, जहाँ हम खबरों के साथ सटीक समीक्षा पेश करते हैं।<br /><br />

      आप हमसे <a href="mailto:asianewsbroadcastingcompany@gmail.com" class="lniks">asianewsbroadcastingcompany@gmail.com</a>
      पर मेल करके जुड़ सकते हैं, सुझाव या शिकायत कर सकते हैं।<br />
    </p>

  </div>
</div>
